In [1]:
import numpy as np
import pandas as pd

# 이전의 데이터 전처리가 완료된 csv파일을 DataFrame형태로 불러오기

In [2]:
df = pd.read_csv('sale_end_int_all_data_0816.csv',encoding='utf-8')
df

,고용인원,투자유치횟수,서비스/제품 수,주소,연간 퇴사율,공동 창업자 수,총 투자자 수,특허기술 평균등급,최종투자단계,산업군,...,순이익_2020(만원),순이익_2021(만원),자산_2020(만원),자산_2021(만원),자본_2020(만원),자본_2021(만원),2022기준 시장규모(만원),최근투자유치(만원),년차,자본잠식률
0,8,1,1,인천 연수구,24,1,1,2.0,seed,전기차배터리,...,-70,14000,100,31000,100,101,25490000000,10000,4,96.54
1,13,1,3,인천 연수구,0,1,1,2.0,pre-A,자율주행차,...,-100,19000,3535,84000,2899,22000,16619999999,800000,4,-633.33
2,2,1,3,경남 창원시,100,1,1,2.0,seed,감속기,...,-17000,-23000,54000,38000,-9232,-32000,4820000000,20000,5,390.91
3,10,1,12,경기 성남시,82,1,1,2.8,seed,로봇,...,3998,1239,48000,112000,10000,18000,4260000000,10000,8,-20.00
4,11,1,1,서울 강남구,51,1,1,2.0,pre-A,디지털헬스케어,...,16000,23000,187000,585000,127000,480000,34530000000,100000,7,-3328.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,93,2,3,서울 강남구,17,1,3,0.0,M&A,메타버스,...,-180000,-396000,198000,738000,-187000,516000,8130000000,1200000,7,-12694.45
898,12,1,0,부산 금정구,73,1,1,0.0,M&A,유아신발,...,67000,44000,217000,248000,192000,217000,4870000000,500000,20,-623.33
899,136,4,1,경기 평택시,38,1,11,0.0,M&A,화물운송,...,-247000,-480000,1294000,3934000,937000,2956000,50360000000,920000,8,-13336.36
900,7,3,1,서울 서초구,100,1,6,3.0,M&A,AI 챗봇,...,17000,-714,7469,1998,-12000,-13000,710000000,30000,9,293.37
901,58,4,1,충북 청주시,92,2,13,3.7,IPO,의료 진단용 AI,...,-757000,-718000,4655000,4044000,3066000,2426000,2160000000,1800000,10,-1485.62

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902 entries, 0 to 901
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   고용인원             902 non-null    int64
 1   투자유치횟수           902 non-null    int64
 2   서비스/제품 수         902 non-null    int64
 3   주소               902 non-null    object
 4   연간 퇴사율           902 non-null    int64
 5   공동 창업자 수         902 non-null    int64
 6   총 투자자 수          902 non-null    int64
 7   특허기술 평균등급        902 non-null    float64
 8   최종투자단계           902 non-null    object
 9   산업군              902 non-null    object
 10  투자점수             902 non-null    int64
 11  자본금(만원)          902 non-null    int64
 12  누적투자유치금액(만원)     902 non-null    int64
 13  연매출(만원)          902 non-null    int64
 14  매출액_2020(만원)     902 non-null    int64
 15  매출액_2021(만원)     902 non-null    int64
 16  영업이익_2020(만원)    902 non-null    int64
 17  영업이익_2021(만원)    902 non-null    int64
 18  순이익_2020(만원)     902 non-null    int64
 19  순이익_2021(만원)     902 non-null    int64
 20  자산_2020(만원)      902 non-null    int64
 21  자산_2021(만원)      902 non-null    int64
 22  자본_2020(만원)      902 non-null    int64
 23  자본_2021(만원)      902 non-null    int64
 24  2022기준 시장규모(만원)  902 non-null    int64
 25  최근투자유치(만원)       902 non-null    int64
 26  년차               902 non-null    int64
 27  자본잠식률            902 non-null    float64
dtypes: float64(2), int64(23), object(3)
memory usage: 197.4+ KB

#가중치 점수별 dictionary : 생성 → 적용

In [4]:
weight = {
    ('서울 강남구') : 12,
    ('서울 서초구') : 10,
    ('서울 마포구') : 9,
    ('서울 중구', '서울 성동구', '서울 구로구') : 8,
    ('서울 종로구', '서울 용산구', '서울 광진구', '서울 동대문구', '서울 중랑구',
      '서울 성북구', '서울 강북구', '서울 도봉구', '서울 노원구', '서울 은평구',
      '서울 서대문구', '서울 양천구', '서울 강서구', '서울 금천구', '서울 영등포구',
      '서울 동작구', '서울 관악구', '서울 송파구', '서울 강동구') : 7,
    ('경기 성남시') : 6,
    ('대전', '경기 수원시', '경기 용인시', '경기 안양시', '경기 안산시',
      '경기 과천시', '경기 광명시', '경기 광주시', '경기 군포시', '경기 부천시',
      '경기 시흥시', '경기 김포시', '경기 안성시', '경기 오산시', '경기 의왕시',
      '경기 이천시', '경기 평택시', '경기 하남시', '경기 화성시', '경기 여주시',
      '경기 양평군', '경기 고양시', '경기 구리시', '경기 남양주시', '경기 동두천시',
      '경기 양주시', '경기 의정부시', '경기 파주시', '경기 포천시', '경기 연천군',
      '경기 가평군') : 5,
    ('인천', '부산') : 4,
    ('충북', '충남', '경상') : 3,
    ('광주', '경북', '경남', '제주') : 2,
    ('대구', '울산', '전북', '전남') : 1
}

## '주소'컬럼을 조건문의 인자로 적용시킬 때 나올 수 있는 데이터 형태에 대한 경우의 수를 고려한 함수 생성 실행

In [5]:
def cal_score(address) :
  for keywords, score in weight.items() :
    if isinstance(keywords, str) :
    # 생성한 dict(weight)의 키워드가 하나인 경우 (= 키워드가 문자열인 경우)
      if keywords in address :
        return score
    else :
    # 생성한 dict(weight)의 키워드가 두 개 이상인 경우
      if any(keywords in address for keywords in keywords) :
        return score
  return 0

In [6]:
df['주소 점수'] = df['주소'].apply(cal_score)

In [7]:
df['주소 점수']

0       4
1       4
2       2
3       6
4      12
       ..
897    12
898     4
899     5
900    10
901     3
Name: 주소 점수, Length: 902, dtype: int64

# 기존의 불필요한 Feature를 제거 : 주소, 산업군

In [8]:
df.drop(['주소','산업군'], axis=1, inplace = True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902 entries, 0 to 901
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   고용인원             902 non-null    int64
 1   투자유치횟수           902 non-null    int64
 2   서비스/제품 수         902 non-null    int64
 3   연간 퇴사율           902 non-null    int64
 4   공동 창업자 수         902 non-null    int64
 5   총 투자자 수          902 non-null    int64
 6   특허기술 평균등급        902 non-null    float64
 7   최종투자단계           902 non-null    object
 8   투자점수             902 non-null    int64
 9   자본금(만원)          902 non-null    int64
 10  누적투자유치금액(만원)     902 non-null    int64
 11  연매출(만원)          902 non-null    int64
 12  매출액_2020(만원)     902 non-null    int64
 13  매출액_2021(만원)     902 non-null    int64
 14  영업이익_2020(만원)    902 non-null    int64
 15  영업이익_2021(만원)    902 non-null    int64
 16  순이익_2020(만원)     902 non-null    int64
 17  순이익_2021(만원)     902 non-null    int64
 18  자산_2020(만원)      902 non-null    int64
 19  자산_2021(만원)      902 non-null    int64
 20  자본_2020(만원)      902 non-null    int64
 21  자본_2021(만원)      902 non-null    int64
 22  2022기준 시장규모(만원)  902 non-null    int64
 23  최근투자유치(만원)       902 non-null    int64
 24  년차               902 non-null    int64
 25  자본잠식률            902 non-null    float64
 26  주소 점수            902 non-null    int64
dtypes: float64(2), int64(24), object(1)
memory usage: 190.4+ KB

# 결과물을 저장 DataFrame → csv

In [10]:
df.to_csv('fix_sale_final_ml_data.csv', encoding='utf-8', index=False)